* {
  box-sizing: border-box;
}
body {
  font-family: "Trirong", sans-serif;
  margin: 0;
  background-color: rgb(73, 68, 68);
}

.calculator {
  width: 300px;
  height: 500px;
  background-color: black;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.display {
  width: 90%;
  height: 15%;
  margin: 0;
  text-align: end;
  font-size: 45px;
  color: white;
  font-weight: bold; 
}

.keyboard {
  width: 95%;
  height: 70%;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

.buttons {
  border-radius: 45%;
  border: none;
  font-size: 20px;
}
.buttons.operator.divisor {
  font-size: 25px;
}

.buttons.operator {
  background-color: rgb(224, 198, 148);
}

.buttons.clear {
  background-color: rgb(224, 198, 148);
}

.buttons.equal {
  background-color: rgb(255, 141, 2);
}

.buttons.number:hover {
  background-color: rgba(224, 197, 148, 0.62);
  color: white;
  transition: 0.5s;
}

.buttons.point:hover {
  background-color: rgba(224, 197, 148, 0.62);
  color: white;
  transition: 0.5s;
}

.buttons.operator:hover {
  background-color: rgba(220, 84, 6, 0.617);
  color: white;
  transition: 0.5s;
}

.buttons.clear:hover {
  background-color: rgba(220, 84, 6, 0.617);
  color: white;
  transition: 0.5s;
}

.buttons.equal:hover {
  background-color: rgb(96, 6, 6);
  color: white;
  transition: 0.5s;
}